@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-y: scroll;
}

::-webkit-scrollbar {
    height: 12px;
    width: 10px;
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: #ff7300;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #ffffff;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="tel"], textarea {
    @apply w-full my-1 py-2 px-3 rounded-md border;
}

textarea {
    height: 140px;
}

button {
    @apply bg-gray-300
}

button.primary{
    background-color: #FF8400;
    @apply bg-primary p-2 w-full text-white rounded-md;
}
